{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <header class="header1">
      <div class="first">
        <div class="logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/webpay-logo.png' %}" alt="logo" />
          </a>
        </div>
        <div class="nav">
          <a href="#">Home</a>
          <a href="#">Send</a>
          <a href="#">Wallet</a>
          <a href="#">Help</a>
        </div>
      </div>

      <div class="second">
        <div class="bell">
          <a href="{% url "view_notifications"%}">
            <img src="{% static 'images/bell.svg' %}" alt="" />
            <div class="num">9</div>
          </a>
        </div>
        <img src="{% static 'images/settings.svg' %}" alt="" />
        <p class="logout"><a href="{% url 'logout' %}">Logout</a></p>
      </div>
    </header>
    <header class="header2">
      <div>
        <a href="#">Account</a>
        <a href="{% url "send_money"%}">transact</a>
        <a href="{% url "pending_requests"%}">Request</a>
        <a href="{% url "all_transactions"%}">History</a>
      </div>
      <div class="user">
        <span id="user">Hi👋 {{username|upper }}</span>
        <span class="balance">{{balance}} {{currency}}</span>
      </div>
    </header>


    <div class="detailsCard">
      <div class="sendCard">
        <div class="sendCardTxt"></div>

        <div class="btns">
          <a href="/">Send Money</a>
        </div>
      </div>
      <div class="sendCard">
        <img src="" alt="image" />

        <div class="sendCardTxt"></div>

        <div class="btns">
          <a href="/">Recieve Money</a>
        </div>
      </div>
    </div>

    {% comment %} <div class="send_money">
      <form method="post" action="{% url 'send_money' %}">
        {% csrf_token %}
        <div>
          <label for="balance">Balance</label>
          <input type="text" value="{{balance}}" name="balance" disabled />
        </div>
        <div>
          <label for="email">Email Address of the reciever</label>
          <input type="email" name="email" required />
        </div>
        <div>
          <label for="amount">Amount</label>
          <input type="text" name="amount" required />
        </div>
        <button type="submit">Send</button>
      </form>
    </div> {% endcomment %}
  </body>
</html>
