<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      href="./assets/webpay-logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <!-- <div id="">
      <div class="loader"></div>
  </div> -->
    {% comment %}
    <div id="alert-container" data-messages="{{ messages_json }}"></div>
    {% endcomment %}

    <div>
      <div id="login" class="contain">
        <div class="logo">
          <img
            class="img"
            src="{% static 'Images/webpay-logo.png' %}"
            alt="logo icon"
          />
        </div>
        <form class="form" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <input
            name="username_or_email"
            type="text"
            placeholder="Username or Email"
          />
          <input
            name="password"
            type="password"
            placeholder="Enter your password"
          />

          <a href="#" class="forgetmail">Forget Email?</a>

          <button class="btn" type="submit">Next</button>
          <div class="or">
            <div class="line"></div>
            <p>or</p>
            <div class="line"></div>
          </div>
        </form>
        <button class="btn2">Register</button>
      </div>
    </div>
    <footer class="authfooter">
      <p>
        © 2024 Webpay . All rights reserved | Privacy Policy | Terms of Use |
        Contact us
      </p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
